.banner {
    padding: 0 118px;
    margin-bottom: 89px;
    position: relative;
    .designation {
        font-size: 24px;
    }
    &-title {
        font-size: 94px;
        font-weight: $bold;
        line-height: 87px;
    }
    &-sub-title {
        font-size: 30px;
        line-height: 40px;
    }
    .years-active {
        display: inline-block;
        font-size: 37px;
        font-weight: $bold;
        background-color: $orange-color;
        padding: 0 16px;
        margin-top: 20px;
        color: $white-color;
        margin-bottom: 77px;
    }
    .director-info {
        margin-left: 5px;
        padding: 22px 380px 22px 42px;
        font-size: 30px;
        border-left: 2px solid $orange-color;
    }
    &-image {
        position: absolute;
        top: -45%;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .black-container {
        background-color: $primary-black-color;
        width: 350px;
        height: 93px;
    }
    .play-button-container {
        padding: 10px;
        border-radius: 50%;
        background-color: $light-orange-color;
        position: relative;
        right: 31%;
        margin-top: -148px;
    }
    .play-button-inner-container {
        padding: 21px 20px 15px 26px;
        border-radius: 50%;
        background-color: $primary-orange-color;
    }
    .play-button-outer-container {
        padding: 12px;
        border-radius: 50%;
        background-color: $light-orange-color;
    }
    .bg-container {
        background-image: url($banner-image);
        height: 575px;
        width: 927px;
    }
}
.quote-container {
    margin-bottom: 65px;
    color: $white-color;
    position: relative;

    .quote {
        background-color: $primary-orange-color;
        margin: 0 108px 0 514px;
        padding: 48px 40px 48px 59px;
        position: absolute;
        top: 10%;
        &-mark {
            font-size: 131px;
            font-weight: $bold;
            line-height: 90px;
        }
        &-description {
            font-size: 25px;
            font-weight: $bold;
            line-height: 30px;
        }
        &-by {
            font-size: 30px;
            font-weight: $bold;
            line-height: 87px;
        }
    }
    .director-img {
        margin-left: 94px;
    }
}
.about {
    position: relative;
    margin-bottom: 69px;
    &-container {
        margin: 0 522px 0 182px;
    }
    &-title {
        font-size: 36px;
        font-weight: $bold;
        margin-bottom: 15px;
    }
    &-description {
        font-size: 16px;
        color: $gray-color;
        margin-bottom: 15px;
    }
    &-button {
        display: inline-block;
        padding: 12px 19px;
        font-size: 16px;
        font-weight: $bold;
        border: 1px solid $gray-color;
    }
    .camera-image {
        position: absolute;
        bottom: -25%;
        right: 0;
    }
}
.life-journey {
    background-color: $primary-white-color;
    padding: 38px 0 85px 0;
    margin-bottom: 75px;
    &-top-container {
        display: flex;
        margin: 0 100px 63px;
    }
    &-title {
        font-size: 50px;
        font-weight: $bold;
        line-height: 47px;
        margin:10px 56px 10px 0;
    }
    &-container {
        padding: 10px 33px 0 20px;
        border-left: 1px $gray-color solid;
    }
    &-description {
        font-size: 16px;
    }
    &-year {
        font-size: 50px;
        font-weight: $bold;
        line-height: 47px;
        margin-bottom: 10px;
    }
    .image-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 16px 73px 100px;
        border-bottom: 1px $gray-color dashed;
        &>img {
            margin-bottom: 12px;
            &:first-child {
                margin: 0;
            }
        }
    }
    .image-pointers {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: -21px 83px 0 192px;
        &>div {
            height: 15px;
            width: 15px;
            border: 1px solid $gray-color;
            border-radius: 50%;
            background-color: $primary-white-color;
        }
        .active-pointer {
            position: relative;
            background-color: $light-orange-color;
            border-radius: 50%;
            border: none;
            padding: 20px;
            margin-right: 75px;
    
            &-circle {
                position: absolute;
                top: 18.5%;
                left: 19.8%;
                height: 25px;
                width: 25px;
                background-color: $primary-orange-color;
                border-radius: 50%;
            }
        }
    }
}
.bibliography {
    &-top-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 133px 57px 118px;
    }
    &-title {
        font-size: 50px;
        font-weight: $bold;
        &>span {
            color: $primary-orange-color;
        }
    }
    &-left-circle,&-right-circle {
        padding: 24px 21px 11px 22px;
        border: 1px solid $gray-color;
        border-radius: 50%;
    }
    &-left-circle {
        margin-right: 10px;
    }
    
    &-bottom-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 202px 118px;
        
        .vision-cinema-container {
            width: 226px;
            margin:0 39px 25px 0;
        }
        .adventures-container {
            width: 239px;
            margin:0 39px 25px 0;
        }
        .apu-triology-container {
            width: 243px;
            margin:0 39px 25px 0;
        }
        .years-with-apu-container {
            width: 243px;
            margin:0 39px 25px 0;
        }
        .book-title {
            font-size: 20px;
            color: #1A1915;
            margin-top: 23px;
        }
    }
}
.films-awards {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-right: 0;
    .films {
        display: flex;
        flex-direction: column;
        margin: 0 45px 0 100px;
        &-top-container {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            color: $secondary-black-color;
            margin: 0 0 31px 0;
            .languge-container {
                display: flex;
                align-items: baseline;
                margin-right: 40px;
                .language {
                    border: none;
                }
            }
        }
        &-title {
            font-size: 50px;
            font-weight: $bold;
        }
        &-national-award {
            font-size: 16px;
            font-weight: $bold;
            color: $primary-orange-color;
            margin-right: 59px;
        }
        &-bottom-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 0 49px 0;
        }
        &-info {
            color: $dark-green-color;
            margin: 0 25px 0 0;
            &-image {
                margin-bottom: 25px;
            }
            &-title {
                font-size: 16px;
                font-weight: $bold;
            }
            &-year {
                font-size: 16px;
            }
        }
        .view-all {
            align-self: center;
            display: inline-block;
            border: 1px solid $gray-color;
            padding: 12px 34px;
        }
    }
    .awards {
        position: relative;
        background-color: $secondary-black-color;
        padding: 138px 20px 41px 55px;
        margin-top: 55px;
        font-size: 21px;
        color: $white-color;
        &-title {
            font-size: 30px;
            margin-bottom: 20px;
        }
        &>ul>li {
            font-size: 21px;
            margin-bottom: 20px;
            list-style: circle;
        }
        .stars-image {
            position: absolute;
            top: -31%;
        }
        .satyajit-image {
            position: absolute;
            top: -25%;
            left: 21.55%;
        }
    }
}