@media screen and (max-width:991px) {
    .header {
        @include display(flex,row,space-between,center);
        padding: 61px 79px 0 48px;
        margin-bottom: 118px;
        .menu-icon {
            font-size: 25px;
            color: $white-color;
        }
    }
}
@media screen and (max-width:767px) {
    .header {
        padding: 20px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:575px) {
    
}
@media screen and (max-width:359px) {
    .header {
        &>img {
            height: 40px;
        }
    }
}