$white-color: white;
$primary-white-color: #FAFAFA;
$orange-color: #FC9C41;
$primary-orange-color: #F58923;
$light-orange-color: rgba(245, 137, 36, 0.1);
$dark-green-color: #1A1915;
$gray-color: #707070;
$primary-black-color: #313131;
$secondary-black-color: #3D3D3D;
$black-color: black;

$primary-font: "Playfair Display";
$banner-image:"/images/director-image.png";

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
$extra-black: 950;